.app {
height: 100vh;
width: 100%;
background: var(--white);
}
.app__inner {
width: 100%;
height: 100vh;
padding: 3rem;
gap: 3rem;
display: flex;
max-width: 1280px;
max-height: 768px;
margin: auto;
}

.footer {
position: absolute;
bottom: 0;
left: 50%;
transform: translateX(-50%);
text-align: center;
width: fit-content;
font-weight: 500;
text-decoration: none;
color: var(--blue);
padding: 0.33rem 1rem 0.33rem 1rem;
border-radius: 1rem 1rem 0 0;
border: 2px solid var(--blue);
border-bottom: none;
transition: all 0.2s;
font-size: 0.9rem;
}
.footer:hover {
background: var(--blue);
color: var(--white);
}
