.app {
height: 100vh;
width: 100%;
background: var(--white);
display: grid;
place-items: center;
}
.app__inner {
width: 100%;
height: 100vh;
padding: 3rem;
gap: 3rem;
display: flex;
max-width: 1360px;
max-height: 800px;
margin: auto;
}

.footer {
position: absolute;
bottom: 0;
left: 50%;
transform: translateX(-50%);
text-align: center;
width: fit-content;
font-weight: 500;
text-decoration: none;
color: var(--blue);
padding: 0.33rem 1rem 0.33rem 1rem;
border-radius: 1rem 1rem 0 0;
border: 2px solid var(--blue);
border-bottom: none;
transition: all 0.2s;
font-size: 0.9rem;
}
.footer:hover {
background: var(--blue);
color: var(--white);
}


@media (min-width: 551px) {
.openSidebar,
.submit .sendSvg,
.closeSidebar {
display: none;
}
}
@media (max-width: 550px) {
.app {
height: 100%;
}
.app__inner {
flex-direction: column;
gap: 0;
padding: 0;
height: 100%;
}
.login {
padding: 1.5rem;
height: 100%;
overflow: scroll;
justify-content: flex-start;
}
.app__icon {
margin-top: 3rem;
}
.login form {
padding: 1.5rem;
margin-bottom: 1.5rem;
}
.login form h3 {
margin-bottom: 1.5rem;
}
.login form p {
font-size: 0.85rem;
}
.sidebar {
background: var(--white);
flex: 1;
max-width: 100%;
height: 100%;
padding: 1.5rem;
padding-top: 3rem;
position: fixed;
transform: translateX(-100%);
left: 0;
top: 0;
opacity: 0;
pointer-events: none;
z-index: 99;
box-shadow: 0 0 3rem #19243A50;
transition: transform 0.5s, opacity 0.1s 0.5s;
}
.sidebar.open {
opacity: 1;
transform: translateX(0);
pointer-events: auto;
transition: transform 0.5s 0.1s, opacity 0.1s;
}
.closeSidebar {
width: 1.5rem;
margin-left: auto;
margin-bottom: auto;
margin-top: -1.5rem;
}
.sidebar__header img {
width: 3rem;
height: 3rem;
background: var(--blue);
box-shadow: 0 0 0 2px var(--gray), 0 0 0 4px var(--blue);
}
.chatbox {
flex: 1;
border-radius: 0;
height: 100%;
}
.chat__input .submit {
flex: 0 0 2.5rem;
height: 2.5rem;
width: 2.5rem;
}
.submit span {
display: none;
}
.submit .sendSvg {
width: 1.25rem;
transform: rotate(45deg) translateY(-0.125rem);
}
.message {
font-size: 0.85rem;
max-width: 90%;
}
.message .img {
min-width: 240px;
}
.chat__input input {
width: 100%;
}
.footer {
display: none;
}
.chat__header img {
width: 2rem;
height: 2rem;
}
.openSidebar {
width: 1.5rem;
margin-right: 1rem;
}
.chat__header h2 {
font-size: 1.12rem;
}
}
